{% load widget_tweaks %}
<div class="row py-5">

    <div class="col-10 offset-1 col-lg-4 offset-lg-4">
        <h1 class="text-light-light mb-3 display-2">{{ form_mode|title }} </h1>
        <div class="row bg-light rounded shadow">
            <div class="col-12 border border-bottom-1 rounded">

                <form action="" method="POST" class="p-3 d-flex flex-column gap-3">
                    {% for field in form %}
                    <div class="field-group d-flex flex-column">
                        <label for="{{field.label}}" class="form-label">{{field.label}}</label>
                        {% if field.errors %}
                            {% render_field field class+="form-control is-invalid" %}
                            <div class="d-flex flex-column mt-2">
                                {% for error in field.errors %}
                                    <p class="m-0">
                                        {{error}}
                                    </p>
                                {% endfor %}
                            </div>
                        {% else %}
                            {% render_field field class+="form-control" %}
                        {% endif %}
                    
                    </div>
                    {% endfor %}
                    {% csrf_token %}
                    <button class="btn btn-success mt-2 text-light-light fw-bold">
                        {{ form_mode|title }}
                    </button>
                </form>
            </div>
            <div class="bg-light-dark col-12 p-3 text-center rounded-bottom">
                {% if form_mode == 'sign up' %}
                    Have an account? <a href="{% url 'users_app:login' %}" class="link-secondary fw-bold text-decoration-none">Log In</a>
                {% else %}
                    Need an account? <a href="{% url 'users_app:signup' %}" class="link-secondary fw-bold text-decoration-none">Sign Up</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>