<li class="nav-item active">
    <a class="nav-link fw-bold" href="#">About</a>
</li>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Account
    </a>
    <div class="dropdown-menu bg-light-dark dropdown-menu-lg-end shadow" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item text-lg-end" href="#">
            <i class="bi bi-house-heart-fill text-primary pe-3 d-lg-none"></i>
            My Account
            <i class="
                bi bi-house-heart-fill text-primary 
                pe-3 pe-lg-0 ps-lg-3 
                d-none d-lg-inline-flex"></i>
        </a>
        <a class="dropdown-item text-lg-end" href="#">
            <i class="bi bi-pencil-fill text-primary pe-3 d-lg-none"></i>
            Create Post
            <i class="
                bi bi-pencil-fill text-primary 
                pe-3 pe-lg-0 ps-lg-3 
                d-none d-lg-inline-flex"></i>
        </a>
        <a class="dropdown-item text-lg-end" href="#">
            <i class="bi bi-door-closed-fill text-primary pe-3 d-lg-none"></i>
            Log Out
            <i class="
                bi bi-door-closed-fill text-primary 
                pe-3 pe-lg-0 ps-lg-3 
                d-none d-lg-inline-flex"></i>
        </a>
    </div>
</li>