{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
    <div class="container-fluid px-5">

        <!-- LOGO -->
        <a class="navbar-brand d-flex flex-column align-items-center" href="#">
            <img src="{% static 'images/garden_barter_logo.svg' %}" class="navbar-logo px-3" alt="Garden Barter Logo">
            <h5 class="text-success m-0">Garden Barter</h5>
        </a>

        <!-- HAMBURGER -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- NAV LINKS -->
        <div class="collapse navbar-collapse d-lg-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav ps-lg-0">
                {% include 'layout/navbar/_auth-links.html' %}

            </ul>
        </div>
        
    </div>
</nav>